$primary-background-color:#5f9ea0;
$secondary-background-color:rgba(0, 0, 0, .8);
$third-background-color:#a9a9a9;
$selection-background-color:#ffffff;


$primary-box-shadow:rgba(0, 0, 0, 0.15);
$secondary-box-shadow:rgba(0, 0, 0, 0.1);

$primary-color:#000000;
$secondary-color:#212121;