.basicLightbox {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: $secondary-background-color;
  transition: opacity .4s ease;
  z-index: 1000;
  will-change: opacity;
}