
.wrapper--color {
  background-color: $third-background-color;
  position: sticky;
  top: 100px;
}
.gallery-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.photo-card{
  background-color: $selection-background-color;
  margin-bottom: 20px;
  box-shadow: 8px 14px 8px $primary-box-shadow ;

}
.photo-card__img{
  height: 410px;
  width: 410px;
}
.material-icons{
margin-right: 10px;
}
.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.stats-item{
  display: flex;
  align-items: center
}

